<h1>Greetings!</h1>
<p>Welcome to my Assignment Portfolio for Cloud Computing Infrastructure.  This site illustrates some of the work that I
  have completed for the course.</p>
<p>You can access the Modules using the links in the top section of the page.  Each
  Module page contains a brief summary of what the module covers, as well as links to and information about the
  assignments in that module.</p>
<p>You can always come back here by using the "Home" link next to the Module links.  Feel
  free to <a href="mailto:csh.accts.foobar@gmail.com">email me</a> if you have any questions or comments.  Enjoy! </p>
<%= image_tag("cloud-computing-2001090_1920.jpg") %>